<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Message</title>
</head>
<body>
 <h1>Message</h1>
 <form action="#" th:action="@{/msg}" th:object="${newMessage}" method="post">
 	<p>Author</p>
 	<input type="text" th:field="*{author}">
 	<p>Message</p>
 	<input type="text" th:field="*{body}">
 	<input type="submit" value="save">
 
 </form>
 <div th:each="msg: ${msgList}">
 	<p th:text="${msg.author}"></p>
 	<p th:text="${msg.body}"></p>
 	<p th:text="${msg.timeStamp}"></p>
 
 </div>
</body>
</html>